<div class="card mb-4 shadow bg-light">
  <div class="text-center">
    <table class="table">
      <thead>
        <tr class="text-center">
          <th scope="col">UserId</th>
          <th scope="col">Email</th>
          <th scope="col">FullName</th>
          <th scope="col">JoinedOn</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr class="text-center">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td><a [routerLink]="['/User/', user.id]"><button type="button" class="btn btn-primary">{{ user.fullName
                }}</button></a></td>
          <td>{{ user.joinedOn | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>